<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.won.mapper.AccountMapper">

	<!-- 가계부 내역 -->
	<select id = "accountList" resultType = "com.won.model.AccountVO">
		select * from account where id = #{id}
	</select>
	
	<!-- 가계부 내역 하나 고르기-->
	<select id = "accountView" resultType = "com.won.model.AccountVO" parameterType="int">
	<![CDATA[
		select * from account where ac_num = #{ac_num}
	]]>
	</select>
	
	<!-- 가계부 내역 생성 -->
	<insert id = "accountInsert" parameterType="com.won.model.AccountVO">
	<![CDATA[
		insert into account values(#{id}, ac_seq.nextval, #{ac_date}, #{ac_classify}, #{ac_goalNum}, #{ac_price}, #{ac_content})
	]]>
	</insert>
	
	<!-- 가계부 내역 수정 -->
	<update id = "accountModify" parameterType="com.won.model.AccountVO">
	<![CDATA[
		update account 
		set ac_date = #{ac_date}, ac_classify = #{ac_classify}, 
		ac_goalNum = #{ac_goalNum}, ac_price = #{ac_price}, ac_content = #{ac_content} 
		where ac_num = #{ac_num}
	]]>
	</update>
	
	<!-- 가계부 내역 삭제 -->
	<delete id = "accountDelete">
	<![CDATA[
		delete from account where ac_num = #{ac_num}
	]]>
	</delete>	
	
		
	<!-- 목표 금액 내역 목록 -->
	<select id = "goaLAmountList" resultType = "com.won.model.AccountVO">
	<![CDATA[
		select * 
		from account
		where id = #{id}
	]]>
	</select>
	
</mapper>