<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.won.mapper.GoalMapper">

	<!-- 목표 목록 -->
	<select id = "goalList" resultType = "com.won.model.GoalVO">
	<![CDATA[
		select * 
		from goal 
		where id = #{id}
	]]>
	</select>
	
	<!-- 목표 상세 보기 -->
	<select id = "goalView" resultType = "com.won.model.GoalVO" parameterType="int">
	<![CDATA[
		select * 
		from goal 
		where g_num = #{g_num}
	]]>
	</select>
	
	<!-- 목표 생성 -->
	<insert id = "goalInsert" parameterType="com.won.model.GoalVO">
	<![CDATA[
		insert into goal 
		values(#{id}, g_seq.nextval, #{g_regisDate}, #{g_goalDate}, #{g_name}, #{g_goalAmount}, 0)
	]]>
	</insert>
	
	<!-- 목표 정보 수정 -->
	<update id = "goalModify" parameterType="com.won.model.GoalVO">
	<![CDATA[
		update goal 
		set 
			g_regisDate = #{g_regisDate},
			g_goalDate = #{g_goalDate},
			g_name = #{g_name},
			g_goalAmount = #{g_goalAmount}
		where id = #{id}
	]]>
	</update>
	
	<!-- 목표 삭제 -->
	<delete id = "goalDelete" parameterType="int">
	<![CDATA[
		delete from goal where g_num = #{g_num}
	]]>
	</delete>	

	<!-- 목표 개수 -->
	<select id = "goalCount" resultType = "Integer" parameterType="String">
	<![CDATA[
		select count(*) 
		from goal 
		where id = #{id}
	]]>
	</select>	
	
	<!-- 금액 추가 -->
	<update id = "currentAmountAdd" parameterType="com.won.model.GoalVO">
	<![CDATA[
		update goal set g_currentAmount = #{g_currentAmount} where id = #{id}
	]]>
	</update>
	
	<!-- 금액 삭제 -->
	<update id = "currentAmountDel" parameterType="int">
	<![CDATA[
		update goal set g_currentAmount = #{g_currentAmount} where id = #{id}
	]]>
	</update>
	
</mapper>